
<div id="toast-container"></div>

<script>
    let errors = '<%- alerts.error %>'
    console.log('browser', errors)
  document.addEventListener('DOMContentLoaded', function() {
      if (errors) {
        console.log('errors is yes')
        M.toast({
          html: 'errors',
          classes: 'red'
        })
      }
  })
</script>



