<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Materialize Style -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel = "stylesheet" type = "text/css" href = "/css/style.css">
    <!-- Link Mapbox -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />
    <!-- If I'm referencing Mapbox, it will typically look like the below code. OVERWRITE WHERE NEEDED!-->
    <style>
        #map { position: absolute; top: 35%; bottom: 0; left: 50%; width: 35%; height: 55%;};
    </style>
    <title>Busker Street</title>
</head>
<body>
    <%- include('partials/nav') %>
    <main class="container">
        <%- include('partials/alerts') %>
        <%- body %>
    </main>
    <%- include('partials/footer') %>
    <!-- Materialize javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

