html,
body {
    margin: 0;
    padding: 0;
}

nav {
    display: inline-block;
    width: 100%;
    background-color: #90a4ae;
}
tbody{
    height: 60vh;
    display: block;
    overflow: scroll;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
thead {
    width: calc( 100% - 1em);
}
table {
    width: 35vw;
}

main {
    text-align: center;
    flex: 1 0 auto;
    height: 100vh;
    width: 100vw;
}

.page-footer {
    background-color: #90a4ae;
    text-align: center;
    display: flex;
    min-height: 10vh;
    flex-direction: column;
}

button {
    background-color: #ff4081;
}
#rating {
    padding-top: 28px;
}

#toast-container {
    left: 37%;
    right: auto;
    bottom: auto;
}

.lat {
    display: none;
}
.long {
    display: none;
}
.city {
    display: none;
}


#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }


.marker {
    background-image: url('../images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}