html,
body {
    margin: 0;
    padding: 0;
}

nav {
    display: inline-block;
    width: 100%;
    background-color: #ffb74d;
}

main{
    text-align: center;
    flex: 1 0 auto;
}

.page-footer {
    background-color: #ffb74d;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

button {
    background-color: #ffb74d;
}